[submodule "bz"]
	path = bz
	url = ./bz
[submodule "gcd"]
	path = gcd
	url = ./gcd
[submodule "factorization"]
	path = factorization
	url = ./factorization
[submodule "prime"]
	path = prime
	url = ./prime
